.about_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border: 1px solid red;
}

.name {
    margin: 0 auto;
}

.content p {
    width: 40rem;
}

.about img {
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    object-fit: cover;
}

.t {
    color: #c9c8cd;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
    margin-top: 8px;
    overflow: hidden;
    padding: 8px 0 7px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 680px) {
    .content {
        justify-content: center;
    }

    .content p {
        width: 100%;
    }
}