.galary {
    max-width: 1200px;
    min-height: 80vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    padding: 0 4rem 2rem;
}

.galary h1 {
    margin-bottom: 1.4rem;
    color: var(--full-gray);
    font-size: 1.8rem;
    text-transform: capitalize;
}

.galary_container {
    width: 100%;
    min-height: 80vh;

    display: flex;
    flex-wrap: wrap;
    gap: 2.8rem;

    justify-content: space-around;
}

.buttontop{
    position: fixed;
    width: 2.4rem;
    height: 2.4rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 1.2rem;
    bottom: 12rem;
    box-shadow: var(--color-gray) 0px 4px 12px;
}

.buttontop img{
    transform: rotate(90deg);
}

@media screen and (max-width: 600px) {

    .galary_container {
        align-items: center;
        flex-direction: column;
        height: auto;
    }

    .buttontop{
        bottom: 8rem;
    }
}